#about-sec img {
    margin-top: 1.5%;
    margin-bottom: 5%;
}

#about-sec p,
#data-sec p,
#kaggle-sec p,
#ref-sec p {
    cursor: default;
}

#about-sec a {
    color: var(--alltitle);
}

#img-about {
    display: flex;
    justify-content: center;
}

#data-sec,
#kaggle-sec,
#ref-sec {
    margin-bottom: 6%;
}

#kaggle {
    margin-top: 1%;
    text-align: center;
    color: var(--alltitle);
    text-decoration: underline;
    font-size: 125%;
    cursor: pointer;
}

#kaggle a,
#kaggle a:visited,
#kaggle a:active,
#kaggle a:link {
    color: var(--alltitle);
}


#ref-sec p {
    margin-bottom: 1.5%;
}

#ref-sec a {
    color: var(--alltitle);
}


#ref-sec a:hover,
#kaggle a:hover,
#about-sec a:hover {
    transition: all ease 0.5s;
    color: #6161fd;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);

    }
}

#slider-container img {
    cursor: pointer;
}

#slider-container {

    overflow: hidden;
    padding: 1%;
    white-space: nowrap;
    position: relative;



}

.slider {
    display: inline-block;
    animation: 10s slide infinite linear;

}

#slider-container img {
    height: 70%;
    margin: 0 40px;

}

#slider-container:before,
#slider-container:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

#slider-container:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F6F6F6);
}

#slider-container:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F6F6F6);
}

#slider-container:hover .slider {
    animation-play-state: paused;
}
/*botao*/
.profile-info button{
    width: 100%;
    padding: 1%;
}

button {
    background-color: var(--buttons);
    border-radius: 64px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 1%;
    font-size: 95%;
    cursor: pointer;
    margin-top: 2%;
}

button:hover {
    transition: all ease 0.5s;
    background-color: #1271ca;
}