@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;1,100;1,200;1,300;1,700;1,800&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --navblue: #0E6BBE;
    --navnotactive: #929495;
    --alltitle: #043057;
    --buttons: #389ED7;
    --paragraph: #20202B;
    --inputfield: #DEEBF5;
    --placeholders: #353c41;
    --inputtextcolor: #124971;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*Default*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
    color: var(--paragraph);
}

h2 {
    color: var(--alltitle);
    margin-top: 5%;
    margin-bottom: 2%;
    cursor: default;
}

main p {
    margin-bottom: 5%;
    cursor: default;
}

.account-btn {
    background-color: var(--buttons);
    color: #FFFFFF;
    border-radius: 64px;
    cursor: pointer;
    font-weight: bold;
}

.body-layout {
    display: flex;
}

aside {
    width: 25%;

}

main {
    width: 25%;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 5%;
}

main form {
    display: flex;
    flex-direction: column;
}

aside img {
    height: 150vh;
    overflow-y: hidden;
    filter: hue-rotate(10deg) brightness(65%) grayscale(9%);
}

input {
    background-color: var(--inputfield);
    color: var(--inputtextcolor);
    border-radius: 8px;
    caret-color: #075aa3;
}

input::placeholder {
    color: var(--placeholders);
    font-size: 111%;
}

/*Login*/
#login-form input {
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 6%;
}

#login-form a {
    text-align: center;
    color: var(--alltitle);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1.5%;
}

#login-form label {
    cursor: default;
    font-weight: bold;
    color: var(--alltitle);
}

.buttons-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gotoSignup {
    background-color: #047ef0;
}

#gotoSignup:hover {
    transition: all ease 0.5s;
    background-color: #01478a;
}

.buttons-main button {

    padding: 2.5%;
    font-size: 95%;
    width: 100%;
    margin-top: 4%;
}

.buttons-main button:hover {
    transition: all ease 0.5s;
    background-color: #1271ca;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

/*password recover*/

.go-back {
    color: var(--alltitle);
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
    width: 25%;
}

.go-back i {
    margin-right: 1%;
}

.password-main {
    margin-left: -15%;
    margin-top: 5%;
    width: 35%;
}



#passwordRecover label,
#newPass label {
    font-weight: bold;
    color: var(--alltitle);
}

#passwordRecover input,
button,
#newPass input,
button {
    padding: 2%;

}

#passwordRecover button,
#newPass button {
    margin-top: 4%;
    font-size: 95%;
}

#passwordRecover input,
#newPass input {
    margin-top: 1%;
}

.img-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

#passwordRecover p {
    text-align: center;
}

/*emailcode*/

.send-again {
    margin-top: 3%;
}

.send-again b {
    color: var(--navblue);
    cursor: pointer;
}

.send-again b:hover {
    transition: all ease 0.5s;
    color: #1a87ee;
}

.title-pass {
    text-align: center;
    font-size: 125%;
}

.emailpassword-main {
    margin-top: 10%;
}

.description {
    margin-bottom: 8%;
}

/*allset*/

.allset {
    text-align: center;
}

.allset button {
    padding: 2%;
    font-size: 95%;
    width: 100%;
    margin-top: 3%;
}

.allset-main {
    width: 35%;
}

/*newpassword*/

.newpassword-main {
    /* margin-left: -15%; */
    margin-top: 5%;
    width: 35%;
}

#newPass ul {
    margin-top: -2%;
    margin-bottom: 3%;
    margin-left: 4%;
}

#newPass label {
    margin-top: 3%;
}




/*Signup*/

#signup-form input {
    padding: 1.5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

#signup-form select {
    padding: 1.5%;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: var(--inputfield);
    color: var(--inputtextcolor);
    border-radius: 8px;
    caret-color: #075aa3;
}


#signup-form button {
    margin-top: 3%;
}

#signup-form a {
    text-align: center;
    color: var(--alltitle);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1.5%;
}

#signup-form label {
    margin-bottom: -1.5%;
    cursor: default;
    font-weight: bold;
    color: var(--alltitle);
}

#signupMain {
    width: 45%;

}


#signupMain h2 {
    margin-bottom: 0.5%;
    margin-top: 2%;
    color: var(--alltitle);
    cursor: default;
}

#signupMain p {
    margin-bottom: 1%;

}

#signupMain .logo-img {
    margin-bottom: 0.2%;

}


#signupMain section {
    margin-top: -5%;
}

.alert {
    position: relative;
    z-index: 10000;
    bottom: 5%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.alert i {
    cursor: pointer;
}


#passrecgoback a{
    text-decoration: none;
    color: var(--alltitle);
}

#signupMain h2, #login-main h2, #emailcodeMain h2, .allset-main h2, .title-pass h2{
    color: var(--alltitle);
    font-weight: bold;
}

@media(max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    aside, #emailcodeAside {
        display: none;
    }

    /*login page*/
    #login-main{
        width: 100%;
        margin: 5%;
        margin-top: 10%;
    }

    
    h2,p{
        text-align: center;
    }

    h2{
        font-size: 115%;
    }

    p, ul li{
        font-size: 90%;
    }

    #login-main input,  #signupMain input,  #signupMain select, #emailcodeMain input, #passwordRecover input, .newpassword-main input{
        font-size: 90%;
        padding: 3%;
    }

    #login-main input::placeholder,  #signupMain input::placeholder,  #signupMain select, #emailcodeMain input::placeholder, #passwordRecover input::placeholder, .newpassword-main input::placeholder{
        font-size: 90%;

    }

    #login-main button,  #signupMain button{
        font-size: 85%;
    
    }

    /*signup-page*/
    #signupMain{
        width: 100%;
        margin: 5%;
        margin-top: 10%;
    }

    .logo-img{
        display: none
    }

    #signupMain form, #signupMain button{
        margin-top: 5%;
    }

    #signupMain label{
        
        margin-top: 2%;
    }

    /*email code page*/

    #emailcodeMain{
        width: 100%;
        margin: 5%;
        margin-top: 25%;
    }

    #emailgoback, #passrecgoback{
        width: 55%;
        position: absolute;
        margin: 5%;
        
    }
    
    /*allset page*/
    
    .allset-main{
        width: 100%;
        margin: 5%;
        margin-top: 35%;
    }

    .allset-main button{
        font-size: 85%;
    }

    .img-pass-div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-pass{
        width: 15rem;
        height: 15rem;
 

    }

    .img-pass img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*password recover page*/
    .password-main{
        width: 100%;
        margin: 5%;
        margin-top: 25%;
    }

    #passwordRecover input{
        margin-top: 2%;
        margin-bottom: 5%;
    }

    /*new password page*/

    .newpassword-main{
        width: 100%;
        margin: 5%;
        margin-top: 35%;
    }

    .newpassword-main label{
        margin-top: 5%;
    }

    .newpassword-main button{
        font-size: 85%;
    }
}

@media(max-width: 769px){
    body{
        overflow-x: hidden;
    }

    #emailcodeMain{
        width: 100%;
        margin-top: 25%;
        margin-left: 0.2%;
    }

    aside, #emailcodeAside{
        display: none;
    }

    p{
        font-size: 105%;
    }

    input{
        font-size: 95%;
    }

    input::placeholder{
        font-size: 95%;
    }

    #login-main{
        width: 100%;

    }

    #login-main img, #signupMain img{
       display: none;

    }

    #login-main input{
        padding: 2%;
 
    }

    #signupMain{
        width: 100%;
    }

    #signupMain p{
        margin-bottom: 3%;
    }

    #signupMain label{
       margin-top: 2%;
    }

    .newpassword-main{
        width: 100%;
        
    }

    .password-main{
        width: 100%;
        margin: 5%;
    }

    #emailcodeMain{
        width: 100%;
        margin: 5%;
        margin-top: 15%;
    }

    #emailgoback, #passrecgoback{
        width: 55%;
        position: absolute;
        margin: 5%;
        
    }

    .allset-main{
        width: 100%;
    
    }
}