@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;1,100;1,200;1,300;1,700;1,800&display=swap');

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

html {
    scroll-behavior: smooth;
}

:root {
    --navblue: #0E6BBE;
    --navnotactive: #929495;
    --alltitle: #043057;
    --buttons: #389ED7;
    --paragraph: #20202B;
    --inputfield: #DEEBF5;
    --placeholders: #353c41;
    --inputtextcolor: #124971;
}

/*Default*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F6F6F6;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*footer-desktop*/
.footer-default {
    background-color: #11426E;
    display: flex;
    position: relative;
    bottom: 0;
    color: #FFFFFF;
    height: 323px;
    width: 100%;
}

.footerlogo-div{
    width: 15rem;
    height: 15rem;
}

.footer-default img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
}

.footer-default p {
    font-weight: bold;
    cursor: default;
}

.footer-default ul {
    list-style: none;
    margin-top: 4%;
}

.footer-default li {
    margin-bottom: 5%;
}

.footer-default a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-default a:hover {
    transition: all ease 0.5s;
    color: #6161fd;
}

.footer-default div {
    margin-top: 2%;
    margin-left: 5%;
}

/*header default*/
.header-default {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.8%;
    box-shadow: 0 15px 20px 0 #8d949910;
    padding-bottom: 1%;
}

.nav-default ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav-default a {
    text-decoration: none;
    font-size: 120%;
    cursor: pointer;
}

.nav-default li {
    margin: 15%;
}

.notactive:hover {
    transition: all ease 0.5s;

    color: #2b8de2;
}

.notactive {
    color: var(--navnotactive);
}

.active {
    font-weight: bold;
    color: var(--navblue);
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434A62;
    margin-right: 2%;
    width: 20%;
}

.profile-info a {
    text-decoration: underline;
    cursor: pointer;
    color: #434A62;
}

.profile-info a:hover {
    transition: all ease 0.5s;
    color: #1371c4;
}

.userinfo-div p{
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 25%;
}



#username {
    font-weight: bold;
}

.pfp-div {
    margin-right: 5%;
}

.logo-div {

    margin-left: 5%;
}

/*all articles css*/

article {
    margin: 5%;

}

article p {
    color: var(--paragraph);
    text-align: justify;
    line-height: 160%;
    cursor: default;
}

h2 {
    color: var(--alltitle);
    margin-bottom: 1%;
    cursor: default;
}

#hamburger{
    display: none;
}

/*Media query para smartphone*/
@media(max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    .footer-default {
        width: 100%;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .footerlogo-div {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
    }

    .footerlogo-div img {
        width: 55%;
        height: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer-default p {
        font-size: 95%;
        cursor: default;
        margin-top: 3%;
    }

    .footer-default ul {
        list-style: none;
        margin-top: 1%;
    }

    .footer-default li {
        margin-bottom: 2%;
    }

    h2{
        font-size: 115%;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    p{
        font-size: 90%;
    }

    .header-default{
       
    }

    #hamburger{
        display: block;
        color: #0E6BBE;
        position: absolute;
        margin-left: 86%;
        margin-top: 5%;
        cursor: pointer;
        font-size: 185%;
    }

    #hamburger:hover{
        transition: all 0.5s ease;
        color: #579edb;
    }

    .logo-div{
        margin-top: 4%;
        height: 4rem;
        width: 16rem;
    }

    .logo-div img{
        height: 85%;
        width: 55%;
        
    }
   
    .nav-default, .profile-info{
        display: none;
    }
}

@media(max-width: 769px){
    body{
        overflow-x: hidden;
    }

    .footerlogo-div {
        display: none;
    }

    .nav-default ul li{
        margin-right: -5%;
        font-size: 95%;
    }

    

    .nav-default {
        margin-left: -25%;
        
    }

    .logo-div{
        margin-left: -5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-div img{
        width: 55%;
    }

    .profile-info{
        margin-left: -20%;
        font-size: 95%;
    }

    #username{
        overflow-wrap: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 60%;
    }
}