<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudo pronto - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <link rel="stylesheet" href="../stylesheets/account-handling.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="body-layout">

        <main class="allset-main">
            <div class="img-pass-div">
                <div class="img-pass">
                    <img draggable="false" class="unselectable" src="../assets/account-handling/allset.svg" alt="Homem feliz">
                </div>
            </div>
            <div class="allset">
                <h2>Tudo pronto!</h2>
                <p>Sua nova senha foi confirmada, volte para a página de login e tente acessar novamente.</p>
                <button class="account-btn" id="allsetBtn" onclick="window.location.href='/login'">Voltar para a página de login</button>
            </div>
        </main>
        <aside>
            <img src="../assets/account-handling/hidreletrica.jpg" alt="Geradores de energia eólica">
        </aside>
    </section>
</body>
</html>