<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <title>Catálogo - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/catalogue.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="../DOM/auth.js"></script>
    
</head>

<body>
    <header class="header-default">
        <div class="logo-div">
            <img src="../assets/common/logo.png" class="unselectable" draggable="false"
                alt="Logotipo do Renovável Efetiva">
        </div>
        <nav class="nav-default">
            <ul>
                <li><a class="notactive unselectable" draggable="false" id="mainpage" href="/">Inicial</a></li>
                <li><a class="active unselectable" draggable="false" id="catalogue" href="/catalogue">Catálogo</a></li>
                <li><a class="notactive unselectable" draggable="false" id="faq" href="/FAQ">FAQ</a></li>
                <li><a class="notactive unselectable" draggable="false" id="about" href="/about">Sobre</a></li>
            </ul>
        </nav>
        <section id="conteudo"></section>
        <div class="profile-info">
            <button onclick="window.location.href = '/login'">Entrar</button>
        </div>
        <div id="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <article>
        <section class="catalogue-info">
            <h2>Catálogo de produtos</h2>
            <p>Navegue pelo catálogo com os menores preços possíveis. Todos os produtos em catálogo foram retirados de
                outras plataformas especializadas em venda, ao acessar os detalhes de um produto e decidir seguir em
                frente com o anúncio, você será encaminhado para a página original do anúncio escolhido.</p>
            <form>
                <input id="productSearch" name="productSearch" placeholder="Procure por um produto">
                <button onclick="setSearchQuery(event)" id="searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>

            </form>
        </section>
        <section class="filters-sec">
            <div class="left-btn">
                <button id="favoriteBtn" onclick="gotoSaved(event)">Favoritos</button>
            </div>
            <div class="right-btn">
                <button id="filterBtn" onclick="toggleFilters(event)">Filtros<i class="fa-solid fa-filter"></i></button>
            </div>
        </section>

        <section class="catalogue-view">

        </section>
        <div class="pages-btn">
            <a class="pg" id="previous" onclick="previousPage()"><i class="fa-solid fa-chevron-left"></i></a>
            <a class="pg" id="next" onclick="nextPage()"><i class="fa-solid fa-chevron-right "></i></a>
        </div>
       
    </article>
    <article id="alerts">
        <div class="alert alert-warning" id="notFoundSearch" role="alert">
            Nenhuma correspondência para a pesquisa. <i class="fa-solid fa-xmark"></i>
        </div>
    </article>

    <section id="filter">
        <h2>Filtre produtos do catálogo</h2>
        <p>Selecione todos os filtros desejados para visualizar produtos correspondentes.</p>
        <form id="filterItems" onsubmit="setFilters(event)">
            <details id="first">
                <summary>Filtrar por preço:</summary>
                <div class="checkbox">
                    <input type="checkbox" id="minPrice" name="minPrice" value="precoMin">
                    <label for="minPrice">Preço mínimo</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="maxPrice" name="maxPrice" value="precoMax">
                    <label for="maxPrice">Preço máximo</label>
                </div>
            </details>
        
            <details id="second">
                <summary>Filtrar por avaliação:</summary>
                <div class="checkbox">
                    <input type="checkbox" id="minVal" name="minVal" value="minimo">
                    <label for="minVal">Avaliação mínima</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="maxVal" name="maxVal" value="maxVal">
                    <label for="maxVal">Avaliação máxima</label>
                </div>
            </details>

            <details id="third">
                <summary>Filtrar por plataforma:</summary>

                <div class="checkbox">
                    <input type="checkbox" id="magalu" name="magalu" value="magaluPlatform">
                    <label for="magalu">Magazine Luiza</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="leroy" name="leroy" value="leroyPlatform">
                    <label for="leroy">Leroy Merlin</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="mercado" name="mercado" value="mercadoPlatform">
                    <label for="mercado">Mercado Livre</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="energia" name="energia" value="energiaPlatform">
                    <label for="energia">EnergiaTotal</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="casa" name="casa" value="casaPlatform">
                    <label for="casa">Minha Casa Solar</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="neo" name="neo" value="neoPlatform">
                    <label for="neo">Neosolar</label>
                </div>
            </details>

            <details id="third">
                <summary>Filtrar por categoria:</summary>
                <div class="flex-side">
                    <div class="sided">
                        <div class="checkbox"> 
                            <input type="checkbox" id="painelSolar" name="painelSolar" value="1">
                            <label for="painelSolar">Painéis Solares</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="estrutura" name="estrutura" value="2">
                            <label for="estrutura">Estruturação</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="controlador" name="controlador" value="3">
                            <label for="controlador">Controladores de carga</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="inversor" name="inversor" value="4">
                            <label for="inversor">Inversores solares</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="ferramenta" name="ferramenta" value="5">
                            <label for="ferramenta">Ferramentas</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="bateria" name="bateria" value="6">
                            <label for="bateria">Baterias</label>
                        </div class="checkbox">
                        <div>
                            <input type="checkbox" id="kit" name="kit" value="7">
                            <label for="kit">Kits solares</label>
                        </div>
                    </div>
                    <div class="sided">
                        <div class="checkbox">
                            <input type="checkbox" id="cabo" name="cabo" value="8">
                            <label for="cabo">Cabos</label>
                        </div >
                        <div class="checkbox">
                            <input type="checkbox" id="disjuntor" name="disjuntor" value="9">
                            <label for="disjuntor">Disjuntores</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="protecao" name="protecao" value="10">
                            <label for="protecao">Proteção de rede</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="iluminacao" name="iluminacao" value="11">
                            <label for="iluminacao">Iluminação</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="aquecimento" name="aquecimento" value="12">
                            <label for="aquecimento">Aquecimento</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="carro" name="carro" value="13">
                            <label for="carro">Carro elétrico</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="bombeamento" name="bombeamento" value="14">
                            <label for="bombeamento">Bombeamento solar</label>
                        </div class="checkbox">
                        <div>
                            <input type="checkbox" id="outros" name="outros" value="15">
                            <label for="outros">Outros</label>
                        </div>
                    </div>
                </div>
            </details>
            <button type="submit">Aplicar filtro</button>
            <button onclick="toggleFilters(event)">Fechar filtragem</button>
        </form>
    </section>
    

    <footer class="footer-default">
        <div class="footerlogo-div">
            <img src="../assets/common/logo-bitbyte.png" class="unselectable" draggable="false" alt="Logotipo Bit&Byte">
        </div>
        <div class="link-footer unselectable" draggable="false">
            <p>Links do site</p>
            <ul>
                <li><a id="footer-main" draggable="false" href="/">Inicial</a></li>
                <li><a id="footer-catalogue" draggable="false" href="/catalogue">Catálogo</a></li>
                <li><a id="footer-faq" draggable="false" href="/FAQ">FAQ</a></li>
                <li><a id="footer-about" draggable="false" href="/about">Sobre</a></li>
            </ul>
        </div>
        <div class="contact-footer">
            <p class="unselectable">Entre em contato</p>
            <ul>
                <li><a id="contact-mail" draggable="false">renovavelefetiva@gmail.com</a></li>
            </ul>
        </div>
        <div class="data-footer unselectable">
            <p>Fonte de dados</p>
            <ul>
                <li><a id="footer-energia" draggable="false" href="https://www.energiatotal.com.br/">EnergiaTotal</a>
                </li>
                <li><a id="footer-leroy" draggable="false" href="https://www.leroymerlin.com.br/">Leroy Merlin</a></li>
                <li><a id="footer-magalu" draggable="false" href="https://www.magazineluiza.com.br/">Magazine Luiza</a>
                </li>
                <li><a id="footer-mercadolivre" draggable="false" href="https://www.mercadolivre.com.br/">Mercado
                        Livre</a></li>
                <li><a id="footer-minhacasa" draggable="false" href="https://www.minhacasasolar.com.br/">Minha Casa
                        Solar</a></li>
                <li><a id="footer-neosolar" draggable="false" href="https://www.neosolar.com.br/">Neosolar</a></li>
            </ul>
        </div>
        <div class="dataset-footer unselectable" draggable="false">
            <p>Dataset</p>
            <ul>
                <li><a id="footer-kaggle" draggable="false"
                        href="https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022">Kaggle</a>
                </li>
            </ul>
        </div>
        
    </footer>

    <script src="../DOM/catalogue.js" defer></script>
</body>

</html>

</html>