<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <link rel="stylesheet" href="../stylesheets/account-handling.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <script src="../DOM/emailcode.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="body-layout">
        <div id="emailgoback" class="go-back">
            <a><i class="fa-solid fa-arrow-left"></i> Voltar</a>
        </div>
        <main id="emailcodeMain" class="password-main emailpassword-main">
           
            <div class="title-pass">
                <h2>Verificação</h2>
            </div>
            <form id="passwordRecover" onsubmit="codeConfirmation(event)">
                <p class="description">Insira o código de verificação que enviamos para o seu e-mail.</p>
                <label for="mailcode">Código de verificação</label>
                <input type="text" name="mailcode" id="mailcode" placeholder="Código de verificação">
                <p class="send-again">Não recebeu o código? <b style="cursor: pointer;" onclick="window.location.href = '/passwordrecover'">Reenviar código</b></p>
                <button type="submit" class="account-btn" id="sentCode">Próximo</button>
            </form>
            
            <div class="alert alert-warning" role="alert" id="invalidCode">
                Código incorreto. <i class="fa-solid fa-xmark"  onclick="document.getElementById('invalidCode').style.display = 'none'"></i>
            </div>
        </main>
        <aside id="emailcodeAside">
            <img src="../assets/account-handling/hidreletrica.jpg" alt="usina hidrelétrica">
        </aside>
    </section>
</body>
</html>