<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <title>FAQ - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/faq.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="../DOM/auth.js" defer></script>
</head>
<body>
    <header class="header-default">
        <div class="logo-div">
            <img src="../assets/common/logo.png" class="unselectable" draggable="false"  alt="Logotipo do Renovável Efetiva">
        </div>
        <nav class="nav-default">
            <ul>
                <li ><a class="notactive unselectable" id="mainpage" draggable="false" href="/">Inicial</a></li>
                <li><a class="notactive unselectable" id="catalogue"  draggable="false" href="/catalogue">Catálogo</a></li>
                <li><a class="active unselectable" id="faq" draggable="false" href="/FAQ">FAQ</a></li>
                <li><a class="notactive unselectable" id="about" draggable="false" href="/about">Sobre</a></li>
            </ul>
        </nav>
        <section id="conteudo"></section>
        <div class="profile-info">
            <button onclick="window.location.href = '/login'">Entrar</button>
        </div>
        <div id="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <article>
        <section id="faq-answer">
            <h2>Dúvidas e respostas - FAQ</h2>
            <p>Não entendeu como alguma parte do site funciona? É possível que sua pergunta tenha sido respondida nos itens abaixo reunidos nessa página, considere realizar a leitura dos itens que se assemelham à sua dúvida, caso nenhum dos itens seja útil, envie um e-mail para o suporte preenchendo o formulário nessa página.</p>
            <details class="site-info">
                <summary>Qual é o objetivo do Renovável Efetiva?</summary>
                <p>O Renovável Efetiva se trata de um site sem fins lucrativos que serve como centralizador de informações e anúncios sobre fontes de energia renovável presentes na matriz energética brasileira, o projeto surgiu para entrega final na disciplina de Usina de Projetos Experimentais III na FACENS. </p>
                <p>O projeto é focado em contribuir com o Objetivo de Desenvolvimento Sustentável de número 7 (Energia Limpa e Acessível) da Agenda 2030 da ONU, as principais metas em foco são:</p>
                <ul>
                    <li><b>7.1</b> até 2030, assegurar o acesso universal, confiável, moderno e a preços acessíveis a serviços de energia.</li>
                    <li><b>7.a</b> até 2030, reforçar a cooperação internacional para facilitar o acesso a pesquisa e tecnologias de energia limpa, incluindo energias renováveis, eficiência energética e tecnologias de combustíveis fósseis avançadas e mais limpas, e promover o investimento em infraestrutura de energia e em tecnologias de energia limpa.</li>
                </ul>
                <div class="ref-align">
                    <cite>Veja mais sobre os ODS em: <a href="https://brasil.un.org/pt-br/sdgs" draggable="false">https://brasil.un.org/pt-br/sdgs</a></cite>
                    <cite>Veja mais sobre as metas do ODS7 em: <a draggable="false" href="https://www.estrategiaods.org.br/os-ods/ods7/">https://www.estrategiaods.org.br/os-ods/ods7/</a></cite>
                </div>
            </details>

            <details class="site-info">
                <summary>Como eu posso salvar um anúncio para depois?</summary>
                <h4>Siga os seguintes passos:</h4> 
                <ol>
                    <li>Clique em "Ver meu perfil" que se encontra abaixo do seu nome de usuário na barra de navegação.</li>
                </ol>
            </details>

            <details class="site-info">
                <summary>Como eu posso ver meus anúncios salvos?</summary>
                <h4>Siga os seguintes passos:</h4> 
                <ol>
                    <li>Clique em "Ver meu perfil" que se encontra abaixo do seu nome de usuário na barra de navegação.</li>
                </ol>
            </details>

            <details class="site-info">
                <summary>Como todos os anúncios são disponibilizados aqui?</summary>
                <p>Nós utilizamos diversas técnicas de extração de dados, incluindo web scraping (utilizando médidas precaucionárias como delays para nos mantermos alinhados aos termos de serviços sem abusar de seus servidores) entre outras, com um agendamento de execuções feito em horários específicos para mantermos os dados atualizados diariamente. A extração destes dados é feita da mesma maneira que um usuário normalmente faria ao acessar os anúncios das plataformas, acessando suas páginas e adquirindo informações dali.

                </p>
            </details>

            <details class="site-info">
                <summary>De onde saíram os gráficos da página inicial?</summary>
                <p> Os gráficos foram gerados a partir da análise de dados do dataset <a href="https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022" draggable="false">Renewable Energy World Wide : 1965~2022</a> que pode ser encontrado na plataforma Kaggle, a maior comunidade de ciência de dados do mundo. 
                </p>
            </details>

            <details class="site-info">
                <summary>Como posso editar minhas informações?</summary>
                <h4>Siga os seguintes passos:</h4> 
                <ol>
                    <li>Clique em "Ver meu perfil" que se encontra abaixo do seu nome de usuário na barra de navegação.</li>
                </ol>
            </details>
        </section>

        <section id="send-email">
            <h2>Envie suas dúvidas ou feedback</h2>
            <p>Não encontrou a resposta para sua dúvida nos itens listados? Envie um e-mail para o suporte, tenha certeza de preencher todos os campos para que possamos lhe responder de forma eficiente e rápida.</p>
            <form action="https://formsubmit.co/renovavelefetiva@gmail.com" method="POST" id="renovavelform">
                
                <label for="name">Qual é o seu nome?</label>
                <input type="text" id="name" name="name" placeholder="Insira seu nome para identificação" title="Insira o nome pelo qual deseja ser identificado.">

                <label for="email">Qual é o seu e-mail?</label>
                <input type="email" id="email" name="email" placeholder="Informe seu e-mail" title="Insira seu e-mail, assim podemos te responder.">

                <label for="_subject">Qual será o assunto do e-mail?</label>
                <input type="text" id="_subject" name="_subject" placeholder="Informe o assunto do e-mail" title="Insira o assunto a ser tratado no e-mail conforme as caixas">

                <label for="message">O que você quer enviar?(Você pode enviar dúvidas, dar feedbacks ou sugestões sobre o Renovável Efetiva)</label>
                <textarea type="text" name="message" id="message" placeholder="Insira o que quiser enviar para o e-mail" title="Insira a mensagem apropriada de acordo com o assunto do e-mail."></textarea>

                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_template" value="box">
                <button type="submit">Enviar meu e-mail</button>
             
            </form>
        </section>
    </article>
    

    <footer class="footer-default">
        <div class="footerlogo-div">
            <img src="../assets/common/logo-bitbyte.png" class="unselectable" draggable="false" alt="Logotipo Bit&Byte">
        </div>
        <div class="link-footer unselectable" draggable="false">
            <p>Links do site</p>
            <ul>
                <li><a id="footer-main" draggable="false" href="/">Inicial</a></li>
                <li><a id="footer-catalogue"  draggable="false" href="/catalogue">Catálogo</a></li>
                <li><a id="footer-faq" draggable="false" href="/FAQ">FAQ</a></li>
                <li><a id="footer-about" draggable="false" href="/about">Sobre</a></li>
            </ul>
        </div>
        <div class="contact-footer">
            <p class="unselectable">Entre em contato</p>
            <ul>
                <li><a id="contact-mail" draggable="false">renovavelefetiva@gmail.com</a></li>
            </ul>
        </div>
        <div class="data-footer unselectable">
            <p>Fonte de dados</p>
            <ul>
                <li><a id="footer-energia" draggable="false" href="https://www.energiatotal.com.br/">EnergiaTotal</a></li>
                <li><a id="footer-leroy" draggable="false" href="https://www.leroymerlin.com.br/">Leroy Merlin</a></li>
                <li><a id="footer-magalu" draggable="false"  href="https://www.magazineluiza.com.br/">Magazine Luiza</a></li>
                <li><a id="footer-mercadolivre" draggable="false"  href="https://www.mercadolivre.com.br/">Mercado Livre</a></li>
                <li><a id="footer-minhacasa" draggable="false" href="https://www.minhacasasolar.com.br/">Minha Casa Solar</a></li>
                <li><a id="footer-neosolar" draggable="false" href="https://www.neosolar.com.br/">Neosolar</a></li>
            </ul>
        </div>
        <div class="dataset-footer unselectable" draggable="false">
            <p>Dataset</p>
            <ul>
                <li><a id="footer-kaggle" draggable="false" href="https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022">Kaggle</a></li>
            </ul>
        </div>
        <script src="../DOM/FAQ.js"></script>
    </footer>
</body>
</html>
</html>