<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <link rel="stylesheet" href="../stylesheets/account-handling.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <script src="../DOM/login.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="body-layout">
        <main>
            <div class="logo-img">
                <img class="unselectable" draggable="false" src="../assets/common/logo.png" alt="Logo do Renovável Efetiva">
            </div>
            <h2>Olá, seja bem-vindo</h2>
            <p>Acesse sua conta para utilizar o Renovável Efetiva.</p>
            <form id="login-form" onsubmit="login(event)">
                <label for="usermail">E-mail de acesso</label>
                <input type="email" name="usermail" id="usermail" placeholder="Informe seu e-mail de acesso ao sistema">
                
                <label for="userpass">Senha de acesso</label>
                <input type="password" name="userpass" id="userpass" placeholder="Informe sua senha de acesso ao sistema">
                <a href="/passwordrecover">Esqueceu a senha?</a>
                <div class="buttons-main">
                    <button class="account-btn" id="loginBtn">Entrar</button>
                    <button type="button" class="account-btn" id="gotoSignup" onclick="window.location.href='/signup'">Criar conta</button>
                </div>
            </form>
        </main>
        <aside>
            <img src="../assets/account-handling/eolica.jpg" alt="Geradores de energia eólica">
        </aside>
    </section>
</body>
</html>