<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <link rel="stylesheet" href="../stylesheets/account-handling.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="body-layout">
        <div class="go-back">
            <a href="/login"><i class="fa-solid fa-arrow-left"></i> Voltar para o login</a>
        </div>
        <main class="password-main">
           
            <div class="img-pass">
                <img draggable="false" class="unselectable" src="../assets/account-handling/password-recover.svg" alt="Homem confuso">
            </div>
            <form id="passwordRecover">
                <p>Para recuperar sua senha, informe seu e-mail de acesso para que possamos enviar um código de autenticação.</p>
                <label for="usermail">E-mail de acesso</label>
                <input type="email" name="usermail" required id="usermail" placeholder="Informe seu e-mail de acesso ao sistema">
     
                <button type="submit" class="account-btn" id="newPassword">Próximo</button>
            </form>
        </main>
        <aside>
            <img src="../assets/account-handling/hidreletrica.jpg" alt="usina hidrelétrica">
        </aside>
    </section>
</body>
</html>