<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <title>Produto - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/product.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="../DOM/auth.js" defer></script>
    <script src="../DOM/product.js" defer></script>
</head>
<body>
    <header class="header-default">
        <div class="logo-div">
            <img src="../assets/common/logo.png" class="unselectable" draggable="false"  alt="Logotipo do Renovável Efetiva">
        </div>
        <nav class="nav-default">
            <ul>
                <li ><a class="notactive unselectable" draggable="false" id="mainpage" href="/">Inicial</a></li>
                <li><a class="active unselectable" draggable="false" id="catalogue" href="/catalogue">Catálogo</a></li>
                <li><a class="notactive unselectable" draggable="false" id="faq" href="/FAQ">FAQ</a></li>
                <li><a class="notactive unselectable" draggable="false" id="about" href="/about">Sobre</a></li>
            </ul>
        </nav>
        <nav class="nav-mobile">
            <ul>
                <li ><a class="active unselectable"  draggable="false" id="mainpagemobile" href="/">Inicial</a></li>
                <li><a class="notactive unselectable" draggable="false" id="cataloguemobile" href="/catalogue">Catálogo</a></li>
                <li><a class="notactive unselectable" draggable="false" id="faqmobile" href="/FAQ">FAQ</a></li>
                <li><a class="notactive unselectable" draggable="false" id="aboutmobile" href="/about">Sobre</a></li>
                <li id="profile-cont"><a class="notactive unselectable" draggable="false" id="aboutmobile" href="/login">Entrar</a></li>

            </ul>
        </nav>
        <section id="conteudo"></section>
        <div class="profile-info">
            <button onclick="window.location.href = '/login'">Entrar</button>
        </div>
        <div id="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <article>
        <section class="body-layout">
            <div class="left-side">
                <div class="img-div">
                    <img id="productImage" class="unselectable" draggable="false" src="https://acdn.mitiendanube.com/stores/122/350/products/wideapplicationcanbeusedathome_a-ad106caafd97e10a6c17077645343748-1024-1024.jpg" alt="Imagem de produto">
                </div>
            </div>
            <div class="right-side">
                <h2 id="productName">Produto</h2>
                <span id="extractionName"><b>Origem de anúncio:</b> Mercado Livre</span>

                <h1 id="productPrice">R$150,25</h1>

                <h2>Descrição e ficha técnica:</h2>
                <p id="productDescription">Desperte para um amanhã mais brilhante com nossos painéis solares de telhado de última geração. Transforme seu lar em uma fonte inesgotável de energia limpa e renovável. Com nossa tecnologia avançada, você não apenas reduzirá sua pegada de carbono, mas também sua conta de luz.
                    Benefícios:
                    Economia Financeira Sustentável: Diga adeus aos aumentos de tarifas de energia. Com nossos painéis solares, você estará no controle dos seus gastos energéticos.
                    Consciência Ambiental: Faça sua parte na luta contra as mudanças climáticas, adotando uma solução energética que preserva o meio ambiente para as gerações futuras.
                    Independência Energética: Liberte-se das flutuações do mercado de energia. Com os painéis solares, você estará menos vulnerável a cortes de energia e interrupções.</p>
                <div class="buttons-div">
                    <button class="common" id="productLink">Visitar anúncio<i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                    <button class="return" id="catalogueReturn" onclick="window.location.href='/catalogue'"><i class="fa-solid fa-chevron-left"></i>Voltar para o catálogo</button>
    
                </div>
            </div>
        </section>
    </article>


    <footer class="footer-default">
        <div class="footerlogo-div">
            <img src="../assets/common/logo-bitbyte.png" class="unselectable" draggable="false" alt="Logotipo Bit&Byte">
        </div>
        <div class="link-footer unselectable" draggable="false">
            <p>Links do site</p>
            <ul>
                <li><a id="footer-main" draggable="false" href="/">Inicial</a></li>
                <li><a id="footer-catalogue"  draggable="false" href="/catalogue">Catálogo</a></li>
                <li><a id="footer-faq" draggable="false" href="/FAQ">FAQ</a></li>
                <li><a id="footer-about" draggable="false" href="/about">Sobre</a></li>
            </ul>
        </div>
        <div class="contact-footer">
            <p class="unselectable">Entre em contato</p>
            <ul>
                <li><a id="contact-mail" draggable="false">renovavelefetiva@gmail.com</a></li>
            </ul>
        </div>
        <div class="data-footer unselectable">
            <p>Fonte de dados</p>
            <ul>
                <li><a id="footer-energia" draggable="false" href="https://www.energiatotal.com.br/">EnergiaTotal</a></li>
                <li><a id="footer-leroy" draggable="false" href="https://www.leroymerlin.com.br/">Leroy Merlin</a></li>
                <li><a id="footer-magalu" draggable="false"  href="https://www.magazineluiza.com.br/">Magazine Luiza</a></li>
                <li><a id="footer-mercadolivre" draggable="false"  href="https://www.mercadolivre.com.br/">Mercado Livre</a></li>
                <li><a id="footer-minhacasa" draggable="false" href="https://www.minhacasasolar.com.br/">Minha Casa Solar</a></li>
                <li><a id="footer-neosolar" draggable="false" href="https://www.neosolar.com.br/">Neosolar</a></li>
            </ul>
        </div>
        <div class="dataset-footer unselectable" draggable="false">
            <p>Dataset</p>
            <ul>
                <li><a id="footer-kaggle" draggable="false" href="https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022">Kaggle</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
</html>