<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <title>Meu perfil - Renovável Efetiva</title>
    <link rel="icon" href="../assets/common/site-ico.svg">
    <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/profile.css">
    <link rel="stylesheet" href="../stylesheets/transition.css">
    <script src="../DOM/auth.js" defer></script>
</head>
<body>
    <header class="header-default">
        <div class="logo-div">
            <img src="../assets/common/logo.png" class="unselectable" draggable="false"  alt="Logotipo do Renovável Efetiva">
        </div>
        <nav class="nav-default">
            <ul>
                <li ><a class="notactive unselectable" draggable="false" id="mainpage" href="/">Inicial</a></li>
                <li><a class="notactive unselectable" draggable="false" id="catalogue" href="/catalogue">Catálogo</a></li>
                <li><a class="notactive unselectable" draggable="false" id="faq" href="/FAQ">FAQ</a></li>
                <li><a class="notactive unselectable" draggable="false" id="about" href="/about">Sobre</a></li>
            </ul>
        </nav>
        <section id="conteudo"></section>
        <div class="profile-info">
            <div class="pfp-div">
                <img src="../assets/common/pfp-icon.png" alt="Foto de perfil padrão" class="unselectable" draggable="false" >
            </div>
            <div class="userinfo-div unselectable" draggable="false">
                <p id="username">Primeiro e ultimo</p>
                <a id="see-profile" draggable="false" href="../templates/profile.html">Ver meu perfil</a>
            </div>
        </div>
    </header>

    <article>
        <aside>
            <div>
                <img src="../assets/common/pfp-icon.svg" alt="Foto de perfil padrão">
            </div>
        </aside>
        <main>
            <h2>Informações de Nomeusuario Ultimosobrenomesetiver:</h2>
            <p>Data de nascimento: 11/11/1111</p>
            <p>Gênero: Feminino</p>
            <p>E-mail: usuarioemail@yahoo.com</p>

            <button id="editProfile"><i class="fa-solid fa-pen-to-square"></i>Editar informações</button>
            <button id="leaveBtn"><i class="fa-solid fa-door-open"></i>Encerrar sessão</button>
        </main>
    </article>


    <footer class="footer-default">
        <div class="footerlogo-div">
            <img src="../assets/common/logo-bitbyte.png" class="unselectable" draggable="false" alt="Logotipo Bit&Byte">
        </div>
        <div class="link-footer unselectable" draggable="false">
            <p>Links do site</p>
            <ul>
                <li><a id="footer-main" draggable="false" href="/">Inicial</a></li>
                <li><a id="footer-catalogue"  draggable="false" href="/catalogue">Catálogo</a></li>
                <li><a id="footer-faq" draggable="false" href="/FAQ">FAQ</a></li>
                <li><a id="footer-about" draggable="false" href="/about">Sobre</a></li>
            </ul>
        </div>
        <div class="contact-footer">
            <p class="unselectable">Entre em contato</p>
            <ul>
                <li><a id="contact-mail" draggable="false">renovavelefetiva@gmail.com</a></li>
            </ul>
        </div>
        <div class="data-footer unselectable">
            <p>Fonte de dados</p>
            <ul>
                <li><a id="footer-energia" draggable="false" href="https://www.energiatotal.com.br/">EnergiaTotal</a></li>
                <li><a id="footer-leroy" draggable="false" href="https://www.leroymerlin.com.br/">Leroy Merlin</a></li>
                <li><a id="footer-magalu" draggable="false"  href="https://www.magazineluiza.com.br/">Magazine Luiza</a></li>
                <li><a id="footer-mercadolivre" draggable="false"  href="https://www.mercadolivre.com.br/">Mercado Livre</a></li>
                <li><a id="footer-minhacasa" draggable="false" href="https://www.minhacasasolar.com.br/">Minha Casa Solar</a></li>
                <li><a id="footer-neosolar" draggable="false" href="https://www.neosolar.com.br/">Neosolar</a></li>
            </ul>
        </div>
        <div class="dataset-footer unselectable" draggable="false">
            <p>Dataset</p>
            <ul>
                <li><a id="footer-kaggle" draggable="false" href="https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022">Kaggle</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
</html>