<article>
    <aside class="side-to-side">
        <div id="text-info">
            <h2><i class="fa-solid fa-droplet"></i>PCH (Pequenas Centrais Hidrelétricas)</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt sagittis ante, quis sodales nisi condimentum eget. Etiam ut tincidunt dui. Vivamus tempor, nisl eu fermentum blandit, magna velit vulputate purus, et sagittis sapien ligula at libero. Quisque iaculis ac felis non ullamcorper. Integer sed ullamcorper ex. Integer tincidunt est metus, a volutpat est imperdiet at. Nunc porta hendrerit orci, eget commodo elit pretium sit amet. Curabitur commodo, erat eget pellentesque fringilla, lacus purus feugiat nunc, a rhoncus orci sem ac tellus. Proin mi risus, tempus et leo et, interdum semper massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                Phasellus ornare sed risus eu varius. Nullam porttitor laoreet odio, vulputate eleifend nisi luctus sed. Duis nec purus ante. Morbi a tellus quis nisi ultrices feugiat a id tellus. Donec et faucibus nisl, eu molestie nisi. Phasellus ut est consequat, placerat est at, lobortis tortor. Vestibulum nec consectetur leo. Nam arcu nibh, consequat ut mauris eu, scelerisque porta ex. Aenean eleifend molestie sapien, vel ultrices nisl. 
                
            </p>

            <h2><i class="fa-solid fa-circle-check" id="benefits"></i>Vantagens</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt sagittis ante, quis sodales nisi condimentum eget. Etiam ut tincidunt dui. Vivamus tempor, nisl eu fermentum blandit, magna velit vulputate purus, et sagittis sapien ligula at libero. Quisque iaculis ac felis non ullamcorper. Integer sed ullamcorper ex. Integer tincidunt est metus, a volutpat est imperdiet at. Nunc porta hendrerit orci, eget commodo elit pretium sit amet. Curabitur commodo, erat eget pellentesque fringilla, lacus purus feugiat nunc, a rhoncus orci sem ac tellus. Proin mi risus, tempus et leo et, interdum semper massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                Phasellus ornare sed risus eu varius. Nullam porttitor laoreet odio, vulputate eleifend nisi luctus sed. Duis nec purus ante. Morbi a tellus quis nisi ultrices feugiat a id tellus. Donec et faucibus nisl, eu molestie nisi. Phasellus ut est consequat, placerat est at, lobortis tortor. Vestibulum nec consectetur leo. Nam arcu nibh, consequat ut mauris eu, scelerisque porta ex. Aenean eleifend molestie sapien, vel ultrices nisl. 
                
            </p>
        </div>
        <div id="icon-info">
            <div>
                <img class="unselectable" draggable="false" src="../assets/index-page/icons-svg/hidreletrica-icon.svg" alt="Ilustração de uma usina hidrelétrica">
            </div>
        </div>
    </aside>


</article>
<article>
    <div id="video-info">
        <h2>Veja esse vídeo informativo sobre PCH's</h2>
        <iframe src="https://www.youtube.com/embed/u2oBNLHxSqA?si=gpmQYqw2sUkBs68s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</article>